{%extends 'basedash.html' %} {% block content %}
<div class="row">
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Budget (Total)
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              ₹ {{budget_sum}}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-success text-uppercase mb-1"
            >
              Expense (Total)
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              ₹ {{expense_sum}}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
              Users
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{head_count}}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-users fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-warning text-uppercase mb-1"
            >
              Departments
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{department_count}}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-briefcase fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card border-left-success">
      <div class="card-header" style="height: 45px">
        <div class="card-title text-dark font-weight-bold text-capitalize">
          Budgets
        </div>
      </div>
      <div class="card-body">
        <canvas id="pie-chart"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card border-left-success">
      <div class="card-header" style="height: 45px">
        <div class="card-title text-dark font-weight-bold text-capitalize">
          Expense(Monthly)
        </div>
      </div>
      <div class="card-body">
        <canvas id="bar-chart"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block js %}
<script>

  var config = {
    type: 'pie',
    data: {
      datasets: [{
        data: {{ g_total|safe }},
        backgroundColor: [
          '#797606', '#804080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
        ],
        label: 'Budget'
      }],
      labels: {{ g_dep|safe }}
    },
    options: {
      responsive: true
    }
  };
    var configx = {
    type: 'bar',
    data: {
      datasets: [{
        data: {{ y_total|safe }},
        backgroundColor: [
          'red', 'green', 'yellow', 'blue', 'grey'
        ],
        label: 'Expense'
      }],
      labels: {{ x_month|safe }}
    },
    options: {
      responsive: true
    }
  };

  window.onload = function() {

  };

  window.onload = function() {
    let ctx = document.getElementById('pie-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
      let cty = document.getElementById('bar-chart').getContext('2d');
    window.mybar = new Chart(cty, configx);
  };
</script>
{% endblock js %}
