{% extends 'baseadmin.html' %}
{% block cardtitle %}

<div style="display:flex;justify-content:space-between" >
<div class="">department head officers</div>
<div class=""><a href="./create/" class ="btn btn-primary btn-sm ">new</a></div>
</div>
{% endblock cardtitle %}
{% block content %}
<div class="table-responsive">
  <table class="table table-hovered table-border">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>department</th>
        <th>joinDate</th>
        <th>update</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.user}}</td>
        <td>{{i.department}}</td>
        <td>{{i.join_date}}</td>
        <td>
          <a href="{{i.get_update_url}}" class="btn btn-info btn-sm">update</a>
        </td>
        <td>
          <form action="{% url 'headdelete' i.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="delete" class="btn btn-danger btn-sm" />
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
